## 파이썬과 MySQL 활용

1. 파이썬과 MySQL을 연결하는 모듈: mysqlclient, PyMySQL
    pip install mysqlclient
    pip install PyMySQL

In [9]:
# mysqlclient 모듈 사용
import MySQLdb

conn=MySQLdb.connect(host="127.0.0.1",user="root", password="*dydwjd1412", database="testdb")
print(conn)
conn.close()

<_mysql.connection open to '127.0.0.1' at 000001676F127588>

In [3]:
import pymysql

## 파이썬과 SQLite

1. 로컬 DB로 사용할 수 있는 DBMS
    - ACCESS
    - SQLite
    - Microsoft SQL Sever Compact Edition
    - Firebird Embedded Server
    - H2
    - HSQL
    - Apache Derby
    ...
    
2. 특징
    - 파일 기반의 DBMS, 저메모리, 빠른 처리속도
    - 오픈 소스
    - 별도의 DB서버가 없어도 쉽고 편리하게 사용할 수 있는 Embeded SQL DB엔진
    - 안드로이드, 아이폰 등의 스마트폰에 기본 내장된 DB
    - 파이썬에도 내장
    - 표준 SQL 지원
    
    - 컬럼을 삭제하거나 변경하는 것 등이 제한
    - LEFT OUTHER JOIN만 지원
    - 읽기 전용 뷰만 제공 
    
3. 공식사이트
    http://sqlite.org
 
4. 클라이언트 툴
    http://www.sqliteexpert.com

In [2]:
import sqlite3

In [3]:
print(sqllie3.version)

NameError: name 'sqllie3' is not defined

In [6]:
print(sqlite3.version)
print(sqlite3.sqlite_version)

2.6.0
3.31.1

In [7]:
conn = sqlite3.connect("sqlitetest.db")
cur.close()
conn.close()

In [9]:
print(conn)
cur = conn.cursor()
print(cur)

<sqlite3.Connection object at 0x0000020888A703B0>
<sqlite3.Cursor object at 0x0000020888B14A40>

In [10]:
#select

conn = sqlite3.connect("sqlitetest.db")
cur = conn.cursor()

cur.execute("select * from tblbook")
for row in cur.fetchall():
    print(row)
    
cur.close()
conn.close()

('최주현', '하늘과 땅')
('최주현', '바다')
('유은정', '바다')
('박성우', '문')
('최주현', '문')
('박성우', '천국')
('최지은', '천국')
('최주현', '천국')
('박성우', '고슴도치')
('서금동', '나')

In [11]:
"""
mysqlite.db 생성

CREATE TABLE tblMember(
id int,
name varchar(10),
regdate datetime
);
"""

'\nmysqlite.db 생성\n\nCREATE TABLE tblMember(\nid int,\nname varchar(10),\nregdate datetime\n);\n'

In [13]:
conn = sqlite3.connect("mysqlite.db")
cur = conn.cursor()

cur.execute("select * from tblMember")
for row in cur.fetchall():
    print(row)
    
cur.close()
conn.close()

(1, '홍길동', '2020-12-25')
(1, '임꺽정', '2020-11-20')

In [20]:
conn = sqlite3.connect("auto.db")
print(conn)
cur = conn.cursor()

cur.execute("create table if not exists tblmember(id int, name varchar(10))")
conn.commit()

cur.execute("insert into tblmember values(1, '홍길동')")
conn.commit()

cur.execute("select * from tblmember")
for row in cur:
    print(row)
    
cur.close()
conn.close()

<sqlite3.Connection object at 0x00000208898B5570>
(1, '홍길동')