In [4]:
12340*1/2

6170.0

In [5]:
adc = 12340
print(adc)

12340

In [6]:
print(adc * 1/2)
print(adc * 1/4)
print(adc * 1/5)

6170.0
3085.0
2468.0

In [7]:
string1 = "string Test1"
string2 = 'string Test2'
print(string1)
print(string2)

string Test1
string Test2

In [8]:
type(string1)

str

In [9]:
type(string2)

str

In [13]:
string3 = 'This is a "double" quotation test'
string4 = "This is a 'single' quotation test"
print(string3)
print(string4)

This is a "double" quotation test
This is a 'single' quotation test

In [16]:
long_string1 = '''[삼중 작은따옴표를 사용한예]
파이썬에는 삼중 따옴표로 여러 행의 문자를 입력할 수 있습니다. '''

long_string2 = """[삼중 큰따옴표]
파이썬에는 삼중 따옴표 가능"""

print(long_string1)
print(long_string2)

[삼중 작은따옴표를 사용한예]
파이썬에는 삼중 따옴표로 여러 행의 문자를 입력할 수 있습니다.
[삼중 큰따옴표]
파이썬에는 삼중 따옴표 가능

In [18]:
a = 'Enjoy'
b = 'Python'
c = a + b
print(c)

EnjoyPython

In [19]:
print(a * 3)

EnjoyEnjoyEnjoy

In [20]:
# 1번 학생의 국어, 영어, 수학, 과학 점수가 각각 90,95,85,80
student1 = [90,95,85,80]
student1

[90, 95, 85, 80]

In [21]:
type(student1)

list

In [22]:
student1[0]

90

In [23]:
student1[1]

95

In [24]:
student1[-1]

80

In [25]:
student1[1] = 100
student1

[90, 100, 85, 80]

In [26]:
myfriends =['James','Robert','Lisa', 'Mary']
myfriends

['James', 'Robert', 'Lisa', 'Mary']

In [27]:
myfriends[2]

'Lisa'

In [28]:
myfriends[3]

'Mary'

In [31]:
mixedList =[0, 2, 3.14, 'python','program',True, myfriends]
mixedList

[0, 2, 3.14, 'python', 'program', True, ['James', 'Robert', 'Lisa', 'Mary']]

In [33]:
list_con1=[1,2,3,4]
list_con2=[5,6,7,8]
list_con = list_con1 + list_con2

print(list_con)

[1, 2, 3, 4, 5, 6, 7, 8]

In [37]:
list_con1=[1,2,3,4]
list_con = list_con1 * 3

print(list_con)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [2]:
list_data=[0,1,2,3,4,5,6,7,8,9]
print(list_data)
print(list_data[0:3])
print(list_data[4:8])
print(list_data[:3])
print(list_data[7:])
print(list_data[::2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2]
[4, 5, 6, 7]
[0, 1, 2]
[7, 8, 9]
[0, 2, 4, 6, 8]

In [3]:
print(list_data)
del list_data[6]
print(list_data)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 7, 8, 9]

In [4]:
list_data1=[1,2,3,4,5]
print(5 in list_data1)
print(6 in list_data1)

True
False

In [7]:
myfinnance=['revenue', 'sales', 'EBITDA', 'TAX']
print(myfinnance)
myfinnance.append('LoseRate')
print(myfinnance)

['revenue', 'sales', 'EBITDA', 'TAX']
['revenue', 'sales', 'EBITDA', 'TAX', 'LoseRate']

In [8]:
my_Accouting=['revenue', 'sales', 'EBITDA', 'TAX']
print(my_Accouting)
my_Accouting.insert(1,'cost')
print(my_Accouting)

['revenue', 'sales', 'EBITDA', 'TAX']
['revenue', 'cost', 'sales', 'EBITDA', 'TAX']

In [9]:
tuple1=(1,2,3,4)
tuple1

(1, 2, 3, 4)

In [10]:
type(tuple1)

tuple

In [11]:
tuple1[1]

2

In [12]:
tuple2=5,6,7,8,9
print(tuple2)

(5, 6, 7, 8, 9)

In [13]:
type(tuple2)

tuple

In [14]:
tuple3=(9,)
tuple4=10,
print(tuple3)
print(tuple4)

(9,)
(10,)

In [15]:
tuple5=('Land', 'Long-Term Financial Instruments', 'Short-term Borrowing','Surtax ')
tuple5[1]=5

TypeError: 'tuple' object does not support item assignment

In [16]:
del tuple5[1]

TypeError: 'tuple' object doesn't support item deletion

In [21]:
tuple6=('Long-term Debt','b','d','e')
tuple6.index('Long-term Debt')

0

In [23]:
tuple7=('a','a','a','b','b','b','c','c','c','d','e')
tuple7.count('a')

3

In [24]:
set1={1,2,3}
set2={1,2,3,3}
print(set1)
print(set2)

{1, 2, 3}
{1, 2, 3}

In [25]:
type(set1)

set

In [26]:
A={1,2,3,4,5,}
B={4,5,6,7,8,9,10}
A.intersection(B)

{4, 5}

In [28]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [29]:
A.difference(B)

{1, 2, 3}

In [30]:
A|B

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [31]:
A&B

{4, 5}

In [32]:
A-B

{1, 2, 3}

In [33]:
a=[1,2,3,4,5]
type(a)

list

In [34]:
b=tuple(a)
b

(1, 2, 3, 4, 5)

In [35]:
type(b)

tuple

In [37]:
c=set(a)
c

{1, 2, 3, 4, 5}

In [38]:
type(c)

set

In [39]:
list(b)

[1, 2, 3, 4, 5]

In [40]:
list(c)

[1, 2, 3, 4, 5]

In [41]:
SUBJECT={"장기차입금":"Long-term Debt", "개발비":"Pre-Operating Costs", "매입채무":"Trade Payables","토지":"Land","건물":"Buildings"}
SUBJECT

{'장기차입금': 'Long-term Debt',
 '개발비': 'Pre-Operating Costs',
 '매입채무': 'Trade Payables',
 '토지': 'Land',
 '건물': 'Buildings'}

In [42]:
type(SUBJECT)

dict

In [46]:
SUBJECT["장기차입금"]

'Long-term Debt'

In [48]:
dict_data1={1:"버스",3:"비행기",4:"택시",5:"자전거"}
dict_data1

{1: '버스', 3: '비행기', 4: '택시', 5: '자전거'}

In [49]:
dict_data1[3]

'비행기'

KeyError: 3

In [51]:
dict_data2={1:10,2:20,3:30,4:40,5:50}
print(dict_data2)
print(dict_data2[4])

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50}
40

In [52]:
dict_data3={"list_data1":[11,12,13],"list_data2":[21,22,23]}
print(dict_data3)
print(dict_data3["list_data2"])

{'list_data1': [11, 12, 13], 'list_data2': [21, 22, 23]}
[21, 22, 23]

In [53]:
type(dict_data3)

dict

In [60]:
mixed_dict={1:10, 'dict_num':{1:10,2:20},"dict_list_tuple":{"A":[11,12,13],"B":(21,22,23),"dict_string":"이것은 책입니다."}}
mixed_dict

{1: 10,
 'dict_num': {1: 10, 2: 20},
 'dict_list_tuple': {'A': [11, 12, 13],
  'B': (21, 22, 23),
  'dict_string': '이것은 책입니다.'}}

In [62]:
SUBJECT["단기차입금"]="Short-term Borrowing"
SUBJECT

{'장기차입금': 'Long-term Debt',
 '개발비': 'Pre-Operating Costs',
 '매입채무': 'Trade Payables',
 '토지': 'Land',
 '건물': 'Buildings',
 '단기차입금': 'Short-term Borrowing'}

In [63]:
del SUBJECT["개발비"]
SUBJECT

{'장기차입금': 'Long-term Debt',
 '매입채무': 'Trade Payables',
 '토지': 'Land',
 '건물': 'Buildings',
 '단기차입금': 'Short-term Borrowing'}

In [64]:
fruit_code={"사과":101,"배":102,"딸기":103,"포도":104,"바나나":105}

In [65]:
print(fruit_code.keys())

dict_keys(['사과', '배', '딸기', '포도', '바나나'])

In [66]:
print(fruit_code.values())

dict_values([101, 102, 103, 104, 105])

In [67]:
print(fruit_code.items())

dict_items([('사과', 101), ('배', 102), ('딸기', 103), ('포도', 104), ('바나나', 105)])

In [68]:
list(fruit_code.keys())

['사과', '배', '딸기', '포도', '바나나']

In [69]:
list(fruit_code.values())

[101, 102, 103, 104, 105]

In [70]:
list(fruit_code.items())

[('사과', 101), ('배', 102), ('딸기', 103), ('포도', 104), ('바나나', 105)]

In [71]:
fruit_code2={"오렌지":106,"수박":107}

In [72]:
fruit_code.update(fruit_code2)
fruit_code

{'사과': 101, '배': 102, '딸기': 103, '포도': 104, '바나나': 105, '오렌지': 106, '수박': 107}

In [74]:
fruit_code2.clear()
print(fruit_code2)
type(fruit_code2)

{}

dict

In [1]:
names = ['jamse','Robert','Lisa','Mary']
scores = [95, 96, 97, 94]

for k in range(len(names)):
    print(names[k], scores[k])

jamse 95
Robert 96
Lisa 97
Mary 94

In [2]:
for name, score in zip(names, scores):
    print(name, score)

jamse 95
Robert 96
Lisa 97
Mary 94

In [6]:
i=0
sum=0

print("i sum")
while(sum<50):
    i=i+1
    sum=sum+i
    print(i, sum)

i sum
1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45
10 55

In [17]:
k=0
while True:
    k=k+1
    if(k>3):
        break
    print(k)

1
2
3

In [18]:
for k in range(10):
    if(k>2):
        break
        
    print(k)

0
1
2

In [19]:
for k in range(5):
    if(k ==2):
        continue
    print(k)

0
1
3
4

In [20]:
k=0
while True:
    k=k+1
    
    if(k==2):
        print("continue next")
        continue
    if(k>4):
        break
        
    print(k)

1
continue next
3
4

In [21]:
numbers =[1,2,3,4,5]
square=[]

for i in numbers:
    square.append(i**2)

print(square)

[1, 4, 9, 16, 25]

In [22]:
numbers=[1,2,3,4,5]
square=[i**2 for i in numbers]
print(square)

[1, 4, 9, 16, 25]

In [23]:
numbers=[1,2,3,4,5]
square=[]

for i in numbers:
    if i>=3:
        square.append(i**2)
print(square)

[9, 16, 25]

In [24]:
numbers=[1,2,3,4,5]
square=[i**2 for i in numbers if i>=3]
print(square)

[9, 16, 25]