In [24]:
# 변수

money = 0

money = int(input("교환할 돈은 얼마?:")) #정수형 자료로 변환

a500 = money//500  # 몫만 출력
money %= 500       # = money%500

a100 = money//100
money %= 100

a50 = money//50

a10 = money//10

# 결과

print('500원: %d개' %a500)  #formating을 이용한 갯수 구하기
print('100원: %d개'%a100)
print('10원: %d개' %a10)
print('잔돈: %d원'%money)

교환할 돈은 얼마?:2763
500원: 5개
100원: 2개
10원: 6개
잔돈: 63원

In [4]:
#Q1. dict() 이용

# 변수(dict 지정)
HGD= {'korean': 80, 'english': 75, 'math': 55}

sum1 = sum(HGD.values()) # values() 를 이용한 합

average = sum1/len(HGD) #len() 을 이용한 평균 구하기

#결과

print("총점:", sum1)
print("평균:", average)

총점: 210
평균: 70.0

In [5]:
#Q1. 내장함수와 formating 이용

#변수
scores = [80, 75, 55]


#결과
print("총점:{0}, 평균:{1}".format(sum(scores),sum(scores)/len(scores)))

총점:210, 평균:70.0

In [7]:
#Q2.

x=int(input("정수 x="))  # input("정수 x=")는 문자열 이므로 int()를 통한 정수화 input("정수 x=")는 문자열 이므로

if(x %2 == 1):           # 홀수를 2로 나누면 나머지가 1이 남는 것을 이용
    print("홀수입니다.")  
else:
    print("짝수입니다.")

정수 x=13
홀수입니다.

In [8]:
#Q3.

#변수
pin = "881120-1068234"
yyyymmdd = pin[:6] #년월만 추출
num = pin[7:]      #년월 이후 부분 추출

#결과
print(yyyymmdd)
print(num)

881120
1068234

In [9]:
#Q4.

# 변수 
# 성별 구분 가능한 숫자 추출

pin = "881120-1068234"

#결과
pin[7:8] # 성별 구분 가능한 숫자 추출

'1'

In [10]:
#Q5.

# 변수 #replace("old", "new")
a = "a:b:c:d"
b = a.replace("a:b:c:d","a#b#c#d") #  .replace()를 통해 ":" 부분을 #으로 교체

#결과
print(b)

a#b#c#d

In [11]:
#Q6.

# 변수
a = [1,3,5,4,2]

a.sort()    #1,2,3,4,5 로 변경
a.reverse() #5,4,3,2,1 로 변경

#결과

print(a)

[5, 4, 3, 2, 1]

In [12]:
#Q7.

a = ['Life','is','too','short']
result = " ".join(a)
print(result)

Life is too short

In [13]:
#Q8.

a = (1, 2, 3) #tuple()

a1 = list(a) #list로 변환

a1.insert(3,4) #insert(위치, 추가할 데이터)로 데이터 추가

print(a1)

[1, 2, 3, 4]

In [14]:
#Q9.

a[[1]] = 'python'
a

# dict()는 리스트를 값으로 가져 올수 없음. 3번은 a[[1]]는 리스트 이므로 오류발생.

TypeError: 'tuple' object does not support item assignment

In [15]:
#Q10.

a = {'A':90, 'B':80, 'C':70}

result = a.pop('B') 

print(a)
print(result)

{'A': 90, 'C': 70}
80

In [16]:
#Q11.

a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

aSet= set(a)

b = list(aSet)

print(b)

[1, 2, 3, 4, 5]

In [17]:
#Q12

a = b = [1, 2, 3]
a[1] = 4
print(b)

# list()는 2개의 변수에 동일한 객체를 선언 할 수 있으므로 a 와 b 모두 list()형태. list()는 indexing과 데이터 변경이 가능하므로
# 1에 위치한 '2' 라는 데이터가 '4 '라는 데이터로 수정됨

[1, 4, 3]