###### 예제

employee(1111, '홍길동', 100000, ['낚시','여행','운동'])
e1.display()

결과
    사번: 1111
    이름: 홍길동
    급여: 100000
    취미: 여행, 낚시, 운동
    
e2 = Employee(1112, '홍길동', 1200000, ["자전거','볼링'])
e3 = Employee(1113, '신돌석', 1400000, ['독서'])

total = Employee.getCount()
print("총 직원수: ", total())

e3.setSallary(200000)
e3.appendHobby(["피아노", "드론"])
e3.display()

결과:
    사번: 1113
    이름: 신돌석
    급여: 2000000
    취미: 독서, 피아노, 드론

In [65]:
class Employee:
    
    def __init__(self, id, name, salary, hobby):
        self.id = id
        self.name = name
        self.salary = salary
        self.hobby = hobby
        append = "n"
        print('\n------------------------------')
    
    def setdata(self, id, name, salary, hobby):
        self.id = id
        self.name = name
        self.salary = salary
        self.hobby = hobby
    
    def print_info(self):
        print("사번: ", self.id)
        print("이름: ", self.name)
        print("급여: ", self.salary)
        print("취미: ", self.hobby)
        
    def setSalary(self, salary):
        print("급여: ", self.setsalary)
    
    def appendHobby(hobby):
        append.hobby = n
    
    @staticmethod
    def getCount():
        pass

In [67]:
e1 = Employee(1111, "홍길동", 1000000, ["낚시"])
e1.print_info()

e2 = Employee(2222, "임꺽정", 1200000, ["영화", "음악"])
e2.print_info()
  
e3 = Employee(3333, "신돌석", 1400000, ["독서"])
e3.print_info()

------------------------------
사번:  1111
이름:  홍길동
급여:  1000000
취미:  ['낚시']

------------------------------
사번:  2222
이름:  임꺽정
급여:  1200000
취미:  ['영화', '음악']

------------------------------
사번:  3333
이름:  신돌석
급여:  1400000
취미:  ['독서']